body {
  font-family: sans-serif;
}

#play ul {
  list-style: none;
  padding-left: 0;
}

#play li {
  margin-bottom: 16px;
}

button {
  appearance: none;
  background: #efefef;
  border: 1px solid #efefef;
  padding: 16px 20px;
  font-size: 20px;
}

button:hover {
  background: #dbdbdb;
}

p#winner {
  font-size: 20px;
}
